html(charset='UTF-8')
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        title Games

    body
        .container
            .jumbotron
                h1.text-center Liste des parties
            div.row
                div.col-12.col-sm-6.col-md-10
                    a(href="/game/new")
                        button.btn.btn-secondary(type='button') Ajouter une partie

                div.col-0.col-sm-0.col-md-0
                    a(href="/players")
                        button.btn.btn-secondary(type='button') Voir les joueurs
            br

            table.table.table-striped
                thead.text-center
                    tr
                        th ID
                        th Nom de la partie
                        th Mode de jeu
                        th Status
                        th Joueurs
                        th Date de création
                        th Editer
                        th Supprimer
                tbody.text-center
                    tr
                    each items in values
                        td #{items.id_games}
                        td #{items.game_name}
                        td #{items.mode}
                        td #{items.labelStatus}
                        td #{items.name}
                        td #{items.created_at}
                        td
                            a(href='/games/' + items.id_games + '/edit')
                                button.btn.btn-primary(type='button') Editer
                        td
                            form(method='POST' action='/games/' + items.id_games + '?_method=DELETE')
                                button.btn.btn-danger(type='submit') Supprimer
                        tr