html(charset='UTF-8')
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        title Games Edit

    body
        .container
            .jumbotron
                h1.text-center Editer une partie

            each item in values
                form(method='POST' action='/games/'+item.id_games+'?_method=PATCH')
                    div.form-group
                    label(for='game_name') Nom de la partie
                    input#game_name.form-control(type='text', value=item.game_name, name='game_name')
                    div.form-group
                    label(for='status') Status
                    input#status.form-control(type='text', value=item.status, name='status')
                    br
                    button.btn.btn-primary(type='button') Editer
