html(charset='UTF-8')
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        title Players Edit

    body
        .container
            .jumbotron
                h1.text-center Editer un joueur

            each item in results
                form(method='POST' action='/players/'+item.id_players+'?_method=PATCH')
                    div.form-group
                    label(for='name') Nom
                    input#name.form-control(type='text', value=item.name, name='name')
                    div.form-group
                    label(for='email') Email
                    input#email.form-control(type='email', value=item.email, name='email')
                    br
                    button.btn.btn-primary(type='submit') Editer
