html(charset='UTF-8')
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        title Players

    body
        .container
            .jumbotron
                h1.text-center Liste des joueurs
            div.row
                div.col-12.col-sm-6.col-md-10
                    a(href="/player/new")
                        button.btn.btn-secondary(type='button') Ajouter un joueur

                div.col-0.col-sm-0.col-md-0
                    a(href="/games")
                        button.btn.btn-secondary(type='button') Voir les parties
            br

            table.table.table-striped
                thead.text-center
                    tr
                        th ID
                        th Nom
                        th Email
                        th Players in game?
                        th Editer
                        th Supprimer
                tbody.text-center
                    tr
                    each item in results
                        td #{item.id_players}
                        td #{item.name}
                        td #{item.email}
                        td ...
                        td
                            a(href='/players/'+item.id_players+'/edit')
                                button.btn.btn-primary(type='button') Editer
                        td
                            form(method='POST' action='/players/' + item.id_players + '?_method=DELETE')
                                button.btn.btn-danger(type='submit') Supprimer
                        tr